.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
.gitignore
node_modules/**

# TypeScript
*.ts
!**/*.d.ts
tsconfig.json
tsdown.config.ts
taze.config.ts
eslint.config.mjs
res/*.mp4
res/*.gif

# Keep these
!dist/**
!media/**
!package.json
!readme.md
!LICENSE
!CHANGELOG.md
!res/spring-icon-big.png