.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
.gitignore
node_modules/**

# TypeScript
*.ts
!**/*.d.ts
tsconfig.json
tsdown.config.ts
taze.config.ts
eslint.config.mjs

# Media
res/*.mp4
res/*.gif

# Plus
pnpm-workspace.yaml
info.json
eslint.config.js
bun.lock
.bunfig.toml

# Keep these
!dist/**
!media/**
!package.json
!readme.md
!LICENSE
!CHANGELOG.md
!res/spring-icon-big.png